.roling {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.fourtofour {
  color: #000;
  font-size: 268.8px;
  font-family: Outfit;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  animation: zoomInOut 2s infinite;
}
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.oops {
  color: #000;
  font-size: 64px;
  font-family: Outfit;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.forbut {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .fourtofour {
    color: #000;
    font-size: 120px;
    font-family: Outfit;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
  }
  .oops {
    color: #000;
    font-size: 30px;
    font-family: Outfit;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
  }
}
