.avee {
  color: #ed3324;
}
.sb {
  background-color: #ed3324;
}
.sb2 {
  background: rgba(237, 49, 36, 0.089);
  color: #ed3324;
}
.mentor {
  padding-top: 180px;
  padding-bottom: 80px;
}
.skills {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600 !important;
  font-size: 47px !important;
  text-align: center;
  color: #121212;
  /* line-height: 70px; */
}
.strategy {
  color: #ed3324;
}
.funn {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #121212;
  margin-top: 20px;
}
.truru {
  margin-top: 90px;
}
.advisors {
  background-color: #3580f8;
}
.degin {
  background-color: #ffffff;
  color: black;
}
.cbh {
  background: #0a0c4e;
}
.nvm {
  background-color: #ffbb55;
}
.loastf {
  border-radius: 43px;
}
.sbbbf {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 14.6409px;
  line-height: 18px;
  text-align: center;
  width: 136.58px;
  height: 43.62px;
  background: #8df736;
  border-radius: 4.5753px;
  color: #ffffff;
  outline: none;
  border: none;
  margin-top: 23px;
}
@media screen and (max-width: 991px) {
  .skills {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 32px !important;
    text-align: center;
    color: #121212;
    /* line-height: 70px; */
  }
}
.seses {
  /* background-color: red !important; */
  height: 65px;
  width: 65px;
}
