.promises {
  padding-top: 70px;
  padding-bottom: 20px;
}
.sched {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  color: #121212;
  line-height: 100px;
}
@media screen and (max-width:991px){
  .sched {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: #121212;
  line-height: 55px;
}
}
.know {
  color: #007bff;
}
.what {
  color: #fc7a31;
}
.letss {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.reje {
  margin-top: 22px;
}

.magnify {
  width: 210px;
  height: 50px;
  outline: none;
  border: none;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background: #007bff;
  border-radius: 12px;
  margin-bottom: 14px;
}
.rehyy {
  background: #fc7a31;
}
.ong {
  background: rgba(255, 174, 74, 0.117) !important;
  color: #fc7a31 !important;
}
.capmi {
  width: 127px;
  height: 50px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #007bff;
  background: #EFF6FF;;
  border-radius: 12px;
  outline: none;
  border: none;
  margin-left: 10px;
}
.grey {
  background-color: #fcfcfc;
}
.wituyt {
  margin-top: 80px;
  padding-bottom: 30px;
}
.comppp {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;

  color: #121212;
}
.wghat {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
  color: #121212;
  cursor: pointer;
}
.collab {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-top: 6px;
  color: #565656;
  margin-bottom: 60px;
}
.dribb {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #121212;
  margin-bottom: 25px;
  text-align: center;
}
.f {
  margin-top: 9px;
  border-bottom: 0.5px solid rgb(0, 0, 0);
}
.going {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-top: 24px;
  color: #565656;
}
.projrct{
  color: #ED3324;
}
.whthome{
  background-color:#ED3324 ;
}
.wathome2{
background: rgba(237, 49, 36, 0.089);
  color: #ED3324;
}
.contactcc{
color:#03BC52 ;
}
.con{
background-color: #03BC52;
}
.con2{
background: rgba(3, 188, 83, 0.113);
color: #03BC52;
}
.dbhu{
  color: #0A5076;
}
.reda{
  background-color: #0A5076;
}
.reda2{
background: rgba(10, 80, 118, 0.055);
color: #0A5076;
}