.pushess {
  margin-top: 170px;
  margin-bottom: 80px;
}
.gettoknow {
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 20px;
text-align: center;
color: #121212;
}
.ourR {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-size: 47px;
  margin-top: 8px;
  text-align: center;
  color: #121212;
}
.oikuj {
  margin-top: 70px;
  /* background-color: red; */
}
.change{
  color: #fac734;
}
.tenne{
  background:#fac734 ;
}
.stud{
   background:#fac8341b ;
     color: #fac734;
}
.wawawa {
  height: 350px;
  width: 220px;
  border-radius: 94px;
  background: #fbfbfb;
  border-radius: 94px;

  /* Set initial position */
  position: relative;
  top: 0;
  left: 0;
}

.wawawa-1 {
  /* Add animation for first element */
  animation-name: float-up-down;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.wawawa-2 {
  /* Add animation for second element */
  animation-name: float-down-up;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* Define the float-up-down animation */
@keyframes float-up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Define the float-down-up animation */
@keyframes float-down-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.slyy {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #121212;
  margin-top: 10px;
}
.product {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-top: 9px;

  color: #565656;
}
.band {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 94px;
}
.starte {
  display: flex;
  justify-content: flex-start;
}
.heyye {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 991px) {
  .ourR {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-size: 32px !important;
  margin-top: 8px;
  text-align: center;
  color: #121212;
}
.gettoknow {
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 17px !important;
text-align: center;
color: #121212;
}
  .starte {
    display: flex;
    justify-content: center;
  }
  .heyye {
    display: flex;
    justify-content: center;
  }
}
.gdgd{
color: #fac734;
}