.leftt{
    background-color: white;
    border-radius: 10px 0 0 10px;
}
.log{
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 40px;
    cursor: pointer;
}
.wiki{
   border-radius: 0 10px 10px 0;
  background-color: #8776F3;

}
@media screen and (max-width:991px){
    .wiki{
 display: none;

}
.leftt{
    background-color: white;
    border-radius: 10px ;
}
}
.moverdi{
    margin-top: 70px;
}

.kuki{
  border: 1px solid rgba(0, 0, 0, 0.177);
  padding-top: 22px;
  padding-left: 9px;
  border-radius: 9px;
}

.push-down {
  background-color: #ffffff;
  padding-top: 25px;
  padding-bottom: 25px;
  /* margin-top: 50px; */
  margin-bottom: 25px;

  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.177);
}

.jikl {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  /* height: 40px; */
  /* margin-top: 10px; */
 
}

.tambo {
  height: 200px !important;
  width: 100% !important;
  /* background-color: rgb(189, 0, 0); */
}

.realise {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pheww {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  flex-wrap: wrap;
  /* justify-content: center; */
}


.bubu {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #888888e3;
  color: #fff;
  border: none;
  border-radius: 50%;
  height: 25px;
  width: 25px;
 font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9px;
  cursor: pointer;
}
.badtins{
    border: 1px solid black;
    border-radius: 9px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.badtins2{
    border: 1px solid black;
    border-radius: 9px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    margin-top: 100px;
}
.pcpc{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 55px;
    font-weight: 600;
    font-size: 28px;
}
.bu{
    height: 50px;
    width: 240px;
}
.pro-images{
 border: 1px solid rgba(0, 0, 0, 0.177);
 padding-top: 15px !important;
 padding-bottom: 15px !important; 
 border-radius: 8px;
}




























.borer {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 10.6548px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.new-product {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  display: flex;
  align-items: center;
  color: #222222;
}
.prod-det {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 16.392px;
  line-height: 20px;
  margin-bottom: 13px;
  color: #222222;
}
.yesss {
  width: 100%;
  height: 50px;
  outline: none;
  background: #ffffff;
  border: 0.819601px solid #eeeeee;
  border-radius: 5px;
  margin-bottom: 13px;
  padding-left: 15px;
}
.a34 {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  margin-bottom: 13px;
}
.yesss::placeholder {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #d9d9d9;
}
.cart {
  font-family: 'Lexend' !important ;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #d9d9d9 !important;
}
.keep-on {
  height: 137px;
  left: 0px;
  top: 27.84px;
  width: 100%;
  background: #ffffff;
  border: 0.819601px solid #eeeeee;
  border-radius: 5px;
  padding-left: 15px;
  padding-top: 20px;
  outline: none;
}
.brilliant {
  margin-top: 54px;
}
.through {
  margin-bottom: 70px;
}
@media screen and (max-width: 966px) {
  .disableddd {
  cursor: not-allowed !important;
  background-color: #999999 !important;
}
  .disableddd2 {
  cursor: not-allowed !important;
  background-color: #999999 !important;
  border: none !important;
  outline: none !important;
}
  .through {
    margin-bottom: 620px;
  }
  .delete {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 13px !important;
    width: 140px !important;
    height: 35px !important;
  }
  .save {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 13px !important;
    width: 100px !important;
    height: 35px !important;
  }
}
.Media {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 16.392px;
  color: #222222;
}
.upload-images {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 13.1136px;
  color: #000000;
}
.own-eyes {
  margin-top: 30px;
}
.dashed {
  background: #ffffff;
  border: 0.819601px dashed #414040;
  border-radius: 4.098px;
  /* height: 188px; */
  width: 100%;
  margin-top: 14px;
  text-align: center;
  padding: 15px !important;
}
.uppl {
  padding-top: 25px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 13.1136px;
  line-height: 16px;

  color: #222222;
}
.faint {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 11.4744px;
  margin-top: 15px;
  color: #b6b6b6;
}
.moddd {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cloud {
  color: #adc0d2;
  font-size: 37px;
}
.uppp {
  border: none;
  outline: none;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 11.4744px;
  color: #ffffff;
  width: 123px;
  height: 30px;
  background: #000000;
  border-radius: 4.098px;
  margin-top: 8px;
}
.happed {
  height: 300px;
  width: 300px;
  object-fit: cover;
  background-color: #d7dee4;
  border-radius: 8px;
}
.delete {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 127px;
  height: 45px;
  outline: none;
  background: none;
  border-radius: 8px;
  border: 1px solid #ff8888;
  color: #ff8888;
}
.save {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 127px;
  height: 45px;
  outline: none;
  background: none;
  border-radius: 8px;
  background-color: #000000;
  border: none;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.woww {
  display: flex;
  justify-content: flex-start !important;
}
.disableddd {
  cursor: not-allowed !important;
}
.disableddd2 {
  cursor: not-allowed !important;
}
